.select-list {
   flex: 1;
   position: relative;
   cursor: pointer;
   background: #E5E5E5;
   margin-right: 1px;
}

.select-list:last-of-type {
   margin: 0;
}

.select-list.active ul {
   display: block;
}

.select-list span {
   display: block;
   padding: 10px 15px;
   font-weight: 700;
}

.select-list ul {
   display: none;
   position: absolute;
   background: green;
   width: 100%;
   padding: 15px;
}
