.select-list {
  display: flex;
  flex-basis: 300px;
  position: relative;
  cursor: pointer;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  margin-left: 1px; }
  .select-list ul {
    display: none;
    position: absolute;
    font-size: 14px;
    text-transform: uppercase;
    top: 60px;
    background: #ffffff;
    width: 100%;
    padding: 15px 0;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); }
    .select-list ul a {
      display: block;
      padding: 5px 15px; }
      .select-list ul a:hover {
        background: #EDF4FA; }
  .select-list.active {
    background: #ffffff;
    color: #525C66; }
    .select-list.active ul {
      display: block; }

.select-list-label {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 0 25px; }
  .select-list-label strong {
    display: block;
    font-weight: 700;
    text-transform: uppercase; }
  .select-list-label .select-list-state {
    display: flex;
    flex: 1;
    justify-content: flex-end; }
    .select-list-label .select-list-state span {
      text-transform: uppercase;
      padding: 0 5px 0 0; }
    .select-list-label .select-list-state i {
      display: flex;
      align-items: center;
      width: 15px; }
    .select-list-label .select-list-state svg {
      width: 100%;
      height: auto; }
