.post-link {
   display: block;
   color: #474747;
   text-decoration: none;
   
   h2 {
      color: #009bff;
      font-weight: 600;
   }

   &:hover {
      background: #EDF4FA;
   }
} // end post-link


.post-summary {
   display: flex;
   padding: 15px;
   border-bottom: 1px solid #dbdbdb;

   .layout-block-1 {
      flex: 1;
      h2 {
         font-size: 18px;
      }
      address {
         font-style: italic;
         margin-bottom: 5px;
      }
      time {
         font-style: italic;
         color: #7e7e7e
      }

      .post-actions {
        margin-top: 5px;
        color: #7e7e7e;
        a {
          color: #7e7e7e;
          &:hover {
            color: #009bff;
          }
        }
      }

   }

   .layout-block-2 {
      display: flex;
      justify-content: flex-end;
      flex-basis: 200px;
      align-items: center;
      color: rgb(88, 88, 88);
   } // end layout block 2
} // end post summary
