.post-link {
  display: block;
  color: #474747;
  text-decoration: none; }
  .post-link h2 {
    color: #009bff;
    font-weight: 600; }
  .post-link:hover {
    background: #EDF4FA; }

.post-summary {
  display: flex;
  padding: 15px;
  border-bottom: 1px solid #dbdbdb; }
  .post-summary .layout-block-1 {
    flex: 1; }
    .post-summary .layout-block-1 h2 {
      font-size: 18px; }
    .post-summary .layout-block-1 address {
      font-style: italic;
      margin-bottom: 5px; }
    .post-summary .layout-block-1 time {
      font-style: italic;
      color: #7e7e7e; }
    .post-summary .layout-block-1 .post-actions {
      margin-top: 5px;
      color: #7e7e7e; }
      .post-summary .layout-block-1 .post-actions a {
        color: #7e7e7e; }
        .post-summary .layout-block-1 .post-actions a:hover {
          color: #009bff; }
  .post-summary .layout-block-2 {
    display: flex;
    justify-content: flex-end;
    flex-basis: 200px;
    align-items: center;
    color: #585858; }
