.comment-add {
   margin-bottom: 15px;
   input[type="text"] {
      width: 100%;
      border: 1px solid #c2c6cc;
      margin-bottom: 5px;
      padding: 10px;
      font-size: 14px;
      line-height: 25px;
      &:focus {
         border-color: #009bff;
      }
   }
   textarea {
      width: 100%;
      height: 150px;
      border: 1px solid #c2c6cc;
      padding: 20px;
      resize: none;
      &:focus {
         border-color: #009bff;
      }
   }
} // end comment-add