.post-detail {
   header {
      display: flex;
      align-items: center;
      border-bottom: 2px solid #b3b3b3;
      padding: 0 0 5px 0;
      margin-bottom: 15px;
      
      h1 {
         flex: 1;
         font-size: 32px;
         color: #384046;
         font-weight: 700;
      }
   } // end header
} // end post-detail

.post-details-block {
   display: flex;
   .layout-block-1 {
      flex-basis: 70%;
      address {
         font-size: 16px;
         font-style: italic;
         margin-bottom: 5px;
      }
      time {
         font-style: italic;
         color: #7e7e7e;
      }
   } // end layout block 1
   .layout-block-2 {
      display: flex;
      justify-content: flex-end;
      align-items: center; 
      flex-basis: 30%;
      color: rgb(88, 88, 88);
   }
} // end post details block

.post-content {
   font-size: 16px;
   line-height: 2;
   p {
      margin-bottom: 20px;
   }
}