.post-add-edit {
   width: 750px;
   margin: 0 auto;
   .form-item {
      margin-bottom: 20px;
      label {
         display: block;
         font-size: 14px;
         font-weight: 700;
         margin-bottom: 5px;
      }
      input {
         width: 100%;
         border: 1px solid #c2c6cc;
         padding: 10px 15px;
         font-size: 14px;
         line-height: 25px;
      }
      select {
         width: 100%;
         border: 1px solid #c2c6cc;
         background: none;
         padding: 10px 15px;
         font-size: 14px;
         line-height: 25px;
         appearance: none;
         border-radius: 0; 
      }
      .select-container {
         position: relative;
         i {
            position: absolute;
            display: inline-block;
            top: 50%;
            right: 20px;
            width: 15px;
            height: 15px;
            transform: translateY(-50%);
         }
      }
      textarea {
         width: 100%;
         height: 500px;
         font-size: 14px;
         border: 1px solid #c2c6cc;
         padding: 20px;
         resize: none;
      }
   }
}