.post-vote-block {
  display: flex;
  flex-basis: 100px;
  align-items: center;
  justify-content: flex-end;
  margin-right: 15px; }

.vote-arrows-block {
  flex-basis: 20px;
  margin-right: 5px; }
  .vote-arrows-block .vote-arrow {
    display: inline-block;
    width: 20px;
    overflow: hidden;
    cursor: pointer; }
    .vote-arrows-block .vote-arrow svg {
      width: 100%;
      height: auto; }

.vote-score {
  display: flex;
  align-items: center; }
  .vote-score i {
    width: 20px;
    margin-right: 5px; }
  .vote-score svg {
    width: 100%;
    height: auto; }
