* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #474747;
  font-size: 12px; }

a {
  text-decoration: none;
  color: #009bff; }

ul, ol {
  list-style-type: none; }

button {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  cursor: pointer;
  border-radius: 0; }

textarea {
  outline: none;
  font-size: 14px; }

:focus {
  outline: none; }

.secondary-link {
  color: dimgray;
  border: none;
  background: none;
  font-size: 12px; }
  .secondary-link:hover {
    color: #009bff; }
  .secondary-link.last {
    margin-left: 15px; }

.button-link {
  display: inline-block;
  background: #E6E6E6;
  font-size: 14px;
  padding: 10px 15px;
  color: #808080;
  min-width: 150px;
  text-align: center; }
  .button-link:hover {
    background: #009bff;
    color: #ffffff; }
  .button-link + .button-link {
    margin-left: 5px; }
  .button-link.submit {
    background: #009bff;
    color: #ffffff; }
    .button-link.submit:disabled {
      background: #E6E6E6;
      color: #808080; }
  .button-link.cancel {
    background: transparent; }
    .button-link.cancel:hover {
      color: #009bff; }

.buttons-block {
  display: flex;
  margin: 15px 0; }
  .buttons-block button {
    padding: 10px 25px;
    border: none; }
