// ------------------
// Resets
// ------------------
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background: #ffffff;
   font-family: 'Open Sans', sans-serif;
   font-weight: 400;
   color: #474747;
   font-size: 12px;
}

a {
   text-decoration: none;
   color: #009bff;
}

ul, ol {
   list-style-type: none;
}

button {
   font-family: 'Open Sans', sans-serif;
   font-size: 12px;
   cursor: pointer;
   border-radius: 0;
}

textarea {
   outline: none;
   font-size: 14px;
}

:focus {
   outline: none;
}

// ---------------------------------------
// Common Styles Shared Across Components
// ---------------------------------------
.secondary-link {
   color: rgb(105, 105, 105);
   border: none;
   background: none;
   font-size: 12px;
   &:hover {
      color: #009bff;
   }
   &.last {
      margin-left: 15px;
   }
}

.button-link {
   display: inline-block;
   background: #E6E6E6;
   font-size: 14px;
   padding: 10px 15px;
   color: #808080;
   min-width: 150px;
   text-align: center;
   &:hover {
      background: #009bff;
      color: #ffffff;
   }
   & + & {
      margin-left: 5px;
   }
   &.submit {
      background: #009bff;
      color: #ffffff;
      &:disabled {
         background: #E6E6E6;
         color: #808080;
      }
   }
   &.cancel {
      background: transparent;
      &:hover {
         color: #009bff;
      }
   }
}

.buttons-block {
   display: flex;
   margin: 15px 0;
   button {
      padding: 10px 25px;
      border: none;
   } // end button
} // end buttons-block 