* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #474747;
  font-size: 12px; }

a {
  text-decoration: none;
  color: #009bff; }

ul, ol {
  list-style-type: none; }

button {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  cursor: pointer; }

textarea {
  outline: none;
  font-size: 14px; }

.icon-counter {
  display: flex;
  flex-basis: 50px;
  justify-content: flex-end;
  align-items: center;
  color: #656565; }
  .icon-counter i {
    flex-basis: 15px;
    margin-right: 5px; }
    .icon-counter i svg {
      width: 100%;
      height: auto; }
  .icon-counter span {
    font-size: 14px;
    font-weight: 300; }

.secondary-link {
  color: dimgray;
  border: none;
  background: none;
  font-size: 12px; }
  .secondary-link:hover {
    color: #009bff; }
  .secondary-link.last {
    margin-left: 15px; }
