.comment-item {
  background: #F1F1F1;
  margin-bottom: 2px; }

.comment-content {
  display: flex;
  align-items: center; }
  .comment-content .layout-block-1 {
    padding: 20px;
    flex-basis: 80%; }
    .comment-content .layout-block-1 p {
      font-size: 14px; }
    .comment-content .layout-block-1 address {
      font-style: italic;
      margin-bottom: 10px; }
  .comment-content .layout-block-2 {
    flex-basis: 20%; }
    .comment-content .layout-block-2 .post-vote-block {
      margin-right: 20px; }
  .comment-content .comment-item-actions span {
    display: inline-block;
    cursor: pointer; }

.comment-edit {
  padding: 20px 20px 5px 20px; }
  .comment-edit textarea {
    width: 100%;
    height: 150px;
    border: 1px solid #c2c6cc;
    padding: 20px;
    resize: none; }
    .comment-edit textarea:focus {
      border-color: #009bff; }
