.comment-content {
  background: #F1F1F1;
  margin-bottom: 2px;
  display: flex;
  align-items: center; }
  .comment-content .layout-block-1 {
    padding: 20px;
    flex-basis: 80%; }
    .comment-content .layout-block-1 p {
      font-size: 14px; }
    .comment-content .layout-block-1 address {
      font-style: italic;
      margin-bottom: 10px; }
  .comment-content .layout-block-2 {
    flex-basis: 20%; }
    .comment-content .layout-block-2 .post-vote-block {
      margin-right: 20px; }
